## 30900_evans_0411_6

In [6]:
# 등급을 구분하는 프로그램
# 80점이상이면 A 40이상이면 B 나머지 C등급 출력
# 0 ~ 100 사이 이외의 숫자는 "잘못된 숫자를 입력했습니다."

# 입력설계
score = int(input('점수 : '))

# 올바른 숫자 범위가 맞는지 틀리는지 구분
if score < 0 or score > 100 :
    print(f'잘못된 숫자를 입력했습니다.')
# 80점 이상 A등급 출력
elif score >= 80 :
    print(f'A등급')
# 40점 이상 B등급 출력
elif score >= 40 :
    print(f'B등급')
# 나머지 C등급 출력
else :
    print(f'C등급')

점수 :  41

B등급

In [7]:
score = int(input('점수: '))

if score < 0 or score > 100 :
    print(f'잘못된 숫자를 입력했습니다.')
else :
    if score >= 80 :
        print(f'A등급')
    elif score >= 40 :
        print(f'B등급')
    else:
        print(f'C등급')

점수:  100

A등급

## 5.1  범위 내에서 반복하기: for
#### 5.1.1  반복문이란

In [8]:
for a in [1,2,3,4,5] : 
    print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [9]:
for a in [1,2,3,4,5] : 
    print(a,'을(를) 저장 중입니다.')

1 을(를) 저장 중입니다.
2 을(를) 저장 중입니다.
3 을(를) 저장 중입니다.
4 을(를) 저장 중입니다.
5 을(를) 저장 중입니다.

In [10]:
for a in [9,8,7,6,5,4,3,2,1,0] : 
    print(a, '안녕하세요')

9 안녕하세요
8 안녕하세요
7 안녕하세요
6 안녕하세요
5 안녕하세요
4 안녕하세요
3 안녕하세요
2 안녕하세요
1 안녕하세요
0 안녕하세요

#### 5.1.2  연속된 숫자를 range()로 간단하게 표현하기

In [14]:
for a in range(1, 21) : 
    print(a, '선생님, 다시는 청소를 빼먹지 않겠습니다.')

1 선생님, 다시는 청소를 빼먹지 않겠습니다.
2 선생님, 다시는 청소를 빼먹지 않겠습니다.
3 선생님, 다시는 청소를 빼먹지 않겠습니다.
4 선생님, 다시는 청소를 빼먹지 않겠습니다.
5 선생님, 다시는 청소를 빼먹지 않겠습니다.
6 선생님, 다시는 청소를 빼먹지 않겠습니다.
7 선생님, 다시는 청소를 빼먹지 않겠습니다.
8 선생님, 다시는 청소를 빼먹지 않겠습니다.
9 선생님, 다시는 청소를 빼먹지 않겠습니다.
10 선생님, 다시는 청소를 빼먹지 않겠습니다.
11 선생님, 다시는 청소를 빼먹지 않겠습니다.
12 선생님, 다시는 청소를 빼먹지 않겠습니다.
13 선생님, 다시는 청소를 빼먹지 않겠습니다.
14 선생님, 다시는 청소를 빼먹지 않겠습니다.
15 선생님, 다시는 청소를 빼먹지 않겠습니다.
16 선생님, 다시는 청소를 빼먹지 않겠습니다.
17 선생님, 다시는 청소를 빼먹지 않겠습니다.
18 선생님, 다시는 청소를 빼먹지 않겠습니다.
19 선생님, 다시는 청소를 빼먹지 않겠습니다.
20 선생님, 다시는 청소를 빼먹지 않겠습니다.

In [15]:
# range()에 간격추가하기
for a in range(1, 20, 2) : 
    print(a)

1
3
5
7
9
11
13
15
17
19

In [17]:
# 1부터 50까지 숫자의 합을 구하는 프로그램
result = 0

for i in range(1, 101) : 
    result += i
    
print(result)

5050

In [18]:
# print()를 반복문 내부에 작성하면
result = 0

for i in range(1, 51) : 
    result += i
    print(result)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275